<div class="cadastro-medico-container">
  <h1 class="form-title">Cadastrar Médico</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-grid">

    <!-- Linha 1 -->
    <div class="form-group">
      <label>Nome Completo:</label>
      <input type="text" formControlName="fullName">
    </div>

    <div class="form-group">
      <label>CPF:</label>
      <input type="text" formControlName="cpf">
    </div>

    <div class="form-group">
      <label>CRM:</label>
      <input type="text" formControlName="crm">
    </div>

    <!-- Linha 2 -->
    <div class="form-group">
      <label>Cidade:</label>
      <input type="text" formControlName="city">
    </div>

    <div class="form-group">
      <label>Estado:</label>
      <input type="text" formControlName="state">
    </div>

    <div class="form-group">
      <label>CEP:</label>
      <input type="text" formControlName="cep">
    </div>

    <!-- Linha 3 -->
    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="form-group">
      <label>Senha:</label>
      <input type="password" formControlName="password">
    </div>

    <div class="custom-dropdown"
     (click)="toggleDropdown('plansOpen')"
     tabindex="0"
     (focusout)="closeDropdown('plansOpen')">

    <label class="form-label">Planos que atende:</label>

    <div class="dropdown-display form-input arrow-down">
        {{ selectedDoctor.plans?.length ? selectedDoctor.plans.join(', ') : '' }}
    </div>

    <div class="dropdown-list" *ngIf="plansOpen">
        <div class="dropdown-item"
            *ngFor="let plan of availablePlans"
            (click)="toggleSelection(plan, 'plans', $event)"
            [class.selected]="selectedDoctor.plans.includes(plan)">
            {{ plan }}
        </div>
    </div>

</div>

    <!-- Linha 4 -->
    <div class="custom-dropdown"
    (click)="toggleDropdown('specialtiesOpen')"
    tabindex="0"
    (focusout)="closeDropdown('specialtiesOpen')">

    <label class="form-label">Especialidades:</label>

    <div class="dropdown-display form-input arrow-down">
        {{ selectedDoctor.specialties?.length ? selectedDoctor.specialties.join(', ') : '' }}
    </div>

    <div class="dropdown-list" *ngIf="specialtiesOpen" style="margin-top:10px;">
        <div class="dropdown-item"
            *ngFor="let sp of availableSpecialties"
            (click)="toggleSelection(sp, 'specialties', $event)"
            [class.selected]="selectedDoctor.specialties.includes(sp)">
            {{ sp }}
        </div>
    </div>
</div>

    <div class="form-group">
      <label>Tempo médio de atendimento (min):</label>
      <input type="number" formControlName="avgTime">
    </div>

    <div class="custom-dropdown"
              (click)="toggleDropdown('statusOpen')"
              tabindex="0"
              (focusout)="closeDropdown('statusOpen')">

              <label class="form-label">Ativo:</label>

              <div class="dropdown-display form-input arrow-down">
                  {{ selectedDoctor.status }}
              </div>

              <div class="dropdown-list" *ngIf="statusOpen">
                <div class="dropdown-item"
                    *ngFor="let st of statusList"
                    (click)="selectStatus(st.value, $event)"
                    [class.selected]="selectedDoctor.status === st.value">
                  {{ st.label }}
                </div>
              </div>
          </div>

    <div class="submit-wrapper">
      <button type="submit" class="btn-submit">Cadastrar</button>
    </div>

  </form>
</div>
