@import '../../../../assets/style/color-palette.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: $white;
  color: $black;

  .logo {
    align-items: center;
    width: 250px; //alterar dps para fuicar responsivo
  }

  .nav-list {
    display: flex;
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
    .nav-item {
      margin: 0 15px;
      text-decoration: none;
      color: $black;
      list-style: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .login-btn {
    font-weight: 600;
    padding: 15px;
    border: 2px solid $cosmic-cobalt;
    border-radius: 20px;
    transition: background-color 0.7s ease, color 0.7s ease; // Adicionei a transição aqui
  
    .mdc-button__label {
      color: $cosmic-cobalt;
      transition: color 0.7s ease; // Adicionei a transição no texto também
    }
  
    &:hover {
      background-color: $cosmic-cobalt;
  
      .mdc-button__label {
        color: $white;
      }
    }
  }
  
}
