/* Default colors */

$white: #fff;
$black: #000;
$red: #f00;
$green: #0f0;
$blue: #00f;
$yellow: #ff0;
$magenta: #f0f;
$cyan: #0ff;

/* MedSim primary colors */

$cosmic-cobalt: #2e2d88;
$red-alizarin: #d7263d;
$green-fruit-salad: #4caf50;
$yellow-kournikova: #ffd447;
$ghost-white: #f4f4f9;
$nero-black: #1a1a1a;

/* MedSim secondary colors */
$grey-whisper: #ececec;
$neon-blue: #3d5afe;
$paua-blue: #1c1b5a;
$blue-gem: #4c27a0;
$opaque-navy-blue: #0d58ff1f;
$periwinkle-blue: #bbcffa;
$grey-chateau: #9ca3af;
$purple-electric: #a855f7;
$btn-close: #32323a;
$btn-close-focus: #7d7aae55;
$backdrop: #1a1a1a8c;
