/* Default colors */

$white: #fff;
$black: #000;
$red: #f00;
$green: #0f0;
$blue: #00f;
$yellow: #ff0;
$magenta: #f0f;
$cyan: #0ff;


/* MedSim primary colors */

$cosmic-cobalt: #2e2d88;
$red-alizarin: #D7263D;
$green-fruit-salad: #4CAF50;
$yellow-kournikova: #FFD447;
$ghost-white: #F4F4F9;
$nero-black: #1a1a1a;


/* MedSim secondary colors */
$grey-whisper: #ECECEC;
$neon-blue: #3D5AFE;
$paua-blue: #1C1B5A;
$blue-gem: #4C27A0;
$opaque-navy-blue: #0d58ff1f;
$periwinkle-blue: #bbcffa;
$purple-electric: #A855F7;
$grey-chateau: #9CA3AF;

$btn-close:#32323a;
$btn-close-focus:#7d7aae55;
$backdrop:#1a1a1a8c;