<div class="modal-overlay" (click)="closeModal.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Top Bar -->
    <div class="modal-header">
      <div class="title-and-status">
        <h2 class="modal-title">Consulta</h2>
        <span class="appointment-status" [ngClass]="{
          'status-realizada': appointment?.appointmentStatus === 'Realizada',
          'status-agendada': appointment?.appointmentStatus === 'Agendada',
          'status-cancelada': appointment?.appointmentStatus === 'Cancelada',
          'status-pendente': appointment?.appointmentStatus === 'Pendente',
          'status-aguardando': appointment?.appointmentStatus === 'Aguardando'
        }">
          {{ appointment?.appointmentStatus }}
        </span>
      </div>
      <p class="appointment-type">Tipo: {{ appointment?.appointmentType }}</p>
      <a *ngIf="appointment?.appointmentLink" [href]="appointment?.appointmentLink" target="_blank" class="appointment-link">Link da Consulta Online</a>
      <button class="close-button" (click)="closeModal.emit()">×</button>
    </div>

    <!-- Middle-Top: Doctor Info -->
    <div class="modal-section doctor-info-section">
      <img [src]="appointment?.doctorPhoto" alt="Doctor Photo" class="doctor-photo">
      <div class="doctor-details">
        <h3>Dr(a). {{ appointment?.doctorName }} {{ appointment?.doctorLastName }}</h3>
        <p><strong>Especialidade:</strong> {{ appointment?.doctorEspecialty }}</p>
        <p><strong>CRM:</strong> {{ appointment?.doctorCRM }}</p>
        <p><strong>Contato:</strong> {{ appointment?.doctorContact }}</p>
        <p><strong>Idade:</strong> {{ appointment?.doctorAge }}</p>
        <div class="star-rating">
          <span *ngFor="let _ of getStarsArray(appointment?.doctorReview || 0)" class="star filled">★</span>
          <span *ngFor="let _ of getStarsArray(5 - (appointment?.doctorReview || 0))" class="star empty">★</span>
        </div>
      </div>
    </div>

    <!-- Middle-Bottom: Motivo da Consulta -->
    <div class="modal-section motivo-section">
      <h3>Motivo da Consulta:</h3>
      <div class="motivo-box">
        <p>{{ appointment?.reason }}</p>
      </div>
    </div>

    <!-- Bottom: Histórico de Consultas -->
    <div class="modal-section history-section">
      <h3>Histórico de Consultas com este Doutor:</h3>
      <ul class="history-list" *ngIf="appointment?.history; else noHistory">
        <li *ngFor="let item of appointment?.history">
          {{ item?.date }} - {{ item?.type }}
        </li>
      </ul>
      <ng-template #noHistory><p class="no-history-message">Nenhum histórico de consultas com este doutor.</p></ng-template>
    </div>
  </div>
</div>