<nav class="sidebar">
  @if (getUserRole() === 'client') {
  <a
    clrVerticalNavLink
    class="nav-button"
    [class.active]="selectedView === 'home'"
    [routerLink]="'/cliente/home'"
    routerLinkActive="active">
    <span class="nav-content">
      <mat-icon aria-hidden="false" aria-label="home" fontIcon="home_health"></mat-icon>
      Home
    </span>
  </a>
  <a
    clrVerticalNavLink
    class="nav-button"
    [class.active]="selectedView === 'agendamento'"
    [routerLink]="'/cliente/agendamento'"
    routerLinkActive="active">
    <span class="nav-content">
      <mat-icon aria-hidden="false" aria-label="home" fontIcon="calendar_month"></mat-icon>
      Agendamento
    </span>
  </a>
  <a
    clrVerticalNavLink
    class="nav-button"
    [class.active]="selectedView === 'perfil'"
    [routerLink]="'/cliente/perfil'"
    routerLinkActive="active">
    <span class="nav-content">
      <mat-icon aria-hidden="false" aria-label="home" fontIcon="account_circle"></mat-icon>
      Perfil
    </span>
  </a>
  } @if (getUserRole() === 'doctor') {
  <button class="nav-button" (click)="showView('perfil-medico')" [class.active]="selectedView === 'perfil-medico'">
    Perfil Medico
  </button>
  } @if (getUserRole() === 'admin') {
  <button class="nav-button" (click)="showView('gerenciar-medicos')" [class.active]="selectedView === 'gerenciar-medicos'">
    Gerenciar Médicos
  </button>
  }
  <a clrVerticalNavLink class="nav-button" (click)="logout()">
    <span class="nav-content">
      <mat-icon aria-hidden="false" aria-label="home" fontIcon="logout"></mat-icon>
      Logout
    </span>
  </a>
</nav>
