<div class="welcome-container">
    <nav class="sidebar">
        <button class="nav-button" (click)="showView('home')" [class.active]="selectedView === 'home'">Home</button>
        <button class="nav-button" (click)="showView('agendamento')" [class.active]="selectedView === 'agendamento'">Agendamento</button>
        <button class="nav-button" (click)="showView('perfil')" [class.active]="selectedView === 'perfil'">Perfil</button>
        <button class="nav-button" (click)="showView('perfil-medico')" [class.active]="selectedView === 'perfil-medico'">Perfil Med</button>
        <button class="nav-button" (click)="showView('gerenciar-medicos')" [class.active]="selectedView === 'gerenciar-medicos'">Gerenciar Médicos</button>
    </nav>
    
    <section class="welcome-message">
        <med-home-dashboard 
            *ngIf="selectedView === 'home'" 
            (navigateToView)="onNavigateToView($event)">
        </med-home-dashboard>
        <med-scheduling *ngIf="selectedView === 'agendamento'"></med-scheduling>
        <med-perfil *ngIf="selectedView === 'perfil'"></med-perfil>
        <med-perfil-doctor *ngIf="selectedView === 'perfil-medico'"></med-perfil-doctor>
        <med-manager-doctors *ngIf="selectedView === 'gerenciar-medicos'"></med-manager-doctors>
    </section>
</div>