<div class="content">
    <img class="logo" src="../../../../assets/images/logo-projeto-branco.png" alt="Logo">
    <div class="items">
        <div class="helpful-links">
            <h1 class="title">Links Úteis</h1>
            <div class="link-items">
                <a class="link" href="/">
                    <p>Sobre nós</p>
                </a>
            </div>
        </div>
        <div class="contact">
            <h1 class="title">Contatos</h1>
            <div class="contact-items">
                <p>+55 (19) 3526-4100</p>
                <a class="link" href="mailto:gabriella.a.oliveira@unesp.br">
                    <p [innerText]="'gabriella.a.oliveira@unesp.br'"></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>www.example.com © 2025 - Todos os direitos reservados</p>
</div>
