<div class="content">
    <h1 class="title">Porque utilizar nosso sistema:</h1>
    <div class="benefits">
        <div class="benefit">
            <img src="../../../../assets/images/home-benefits/wall-clock.png" alt="Agendamento rápido" class="benefit-image">
            <p class="text">Agendamento rápido</p>
        </div>
        <div class="benefit">
            <img src="../../../../assets/images/home-benefits/calendar.png" alt="Controle de agenda" class="benefit-image">
            <p class="text">Controle de agenda</p>
        </div>
        <div class="benefit">
            <img src="../../../../assets/images/home-benefits/bell.png" alt="Lembretes automáticos" class="benefit-image">
            <p class="text">Lembretes automáticos</p>
        </div>
        <div class="benefit">
            <img src="../../../../assets/images/home-benefits/lock.png" alt="Segurança de dados" class="benefit-image">
            <p class="text">Segurança de dados</p>
        </div>
    </div>
</div>
